html {
  height: 100%;
}

#app,
body {
  height: 100%;
  margin: 0;
  background-color: black;
}

a {
  text-decoration: none;
}

:root {
  --color-white: #ffffff;
  --color-secondary: #efefef;
  --interactive-blue: #007AFF;
}